/**{ outline:1px solid rgba(255,0,0,0.5);}*/
.pd1 {padding: 1%; }
.pdtb1 { padding: 1% 0%; }
.mgl1{margin-left: 1%;}
.mgb2 {  margin-bottom: 2%; }
.background_grey {  background: #F2F2F2; }
.background_white {  background: #fff; }
.shadow_table {  -moz-box-shadow: 0px 6px 8px #66686b;  -webkit-box-shadow: 0px 6px 8px #66686b; box-shadow: 0px 6px 8px #66686b; }